<form name="AlunoForm" gumga-form novalidate>
		
	<div gumga-form-class="nome">
		<label gumga-translate-tag="aluno.nome">nome</label>
		<input gumga-error type="text" name="nome" ng-model="aluno.data.nome"  class="form-control" />
	</div>		
	<div gumga-form-class="ra">
		<label gumga-translate-tag="aluno.ra">ra</label>
		<input gumga-error type="text" name="ra" ng-model="aluno.data.ra"  class="form-control" />
	</div>    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
    <gumga-form-buttons
            back="aluno.list"
            submit="aluno.methods.put(aluno.data)"
            position="right"
            valid="AlunoForm.$valid"
            confirm-dirty="true"
            continue="continue">
    </gumga-form-buttons>    
</form>